@import "node_modules/font-awesome/scss/font-awesome.scss";
@import "base/colors";
@import "components/prodoktCard";

* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}

header {
    padding: 1rem 1.5rem;

    nav {
        display: flex;
        justify-content: end;
        ul {
            display: flex;
            gap: 1.5rem;
            li {
                list-style: none;

                a {
                    color: #000;
                }
                &:hover {

                }
            }
        }
    }
}

.side-menu {
    width: fit-content;
    height: 100vh;
    padding: 2rem 1.5rem;

    h2 {
        margin-bottom: 1rem;
    }

    ul {
        list-style: none;
    }
}


main {
    display: grid;
    grid-template-columns: repeat(auto-fill, 1fr);;
}
